.carddiv{
    display:inline-block;
    margin-right: 5px;
    border:1px solid black;
}

.cardimg{
    margin: 10px 20px;
}

.cardname{
    text-align: center;
    font-weight: normal;
    background-color: aqua;
}

.carddes{
    text-align: center;
    background-color: pink;
}

.btndiv{
    display: flex;
    justify-content: center;
}
.btn{
    margin-top: 10px;
    background-color: aqua;
    color: black;
    padding: 10PX;
    border-radius: 5px;
    cursor: pointer;
    transition:0.15s;
}

.btn:hover{
    background-color: red;
    color: white;
}

.btn:active{
    background-color: rgba(223, 6, 107, 0.7);
}

.studiv{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    column-gap: 10px;
    justify-content: center;
    background-color: aqua;
}

.studiv p{
    font-size: 20px;
    font-family:sans-serif;
    font-weight:500;
}